
*{

    padding: 0;
    margin: 0;

}

body {

    background-color: cadetblue;
    background-image: url(img/starts.jpg);

}

.backgroundRepeat {

    background-color: white;
    background-repeat: no-repeat;
    background-image: url(img/girl.jpg);
    height:200px;
    width: 500px;
    background-size: 200px 200px;
    background-position: bottom center;
    position: relative;
    left:34.5%;

}