
*{

    padding: 0;
    margin: 0;

}

body {

    background-color: cadetblue;
    background-image: url(img/starts.jpg);
   

}

.animae {

    background-color: white;
    text-align: center;
    padding: 10px;
    position: sticky;
    top: 0;
    border: 2px solid black;
    
    

}

#pageheading {

    font-family: 'Lavishly Yours', cursive;
    font-size: 50px;

}

.backgroundRepeat {

    background-color: white;
    background-repeat: no-repeat;
    background-image: url(img/girl.jpg);
    height:200px;
    background-size: 200px 200px;
    background-position: bottom center;

}