#fontHeading{

    text-align: center;
    font-family: 'Rubik Wet Paint', cursive;
    font-weight: normal;
    font-variant: small-caps;
    padding: 10px;
    color: white;
        
}

#loremContent {

    font-family: 'Fjalla One', sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 25px;
    
    text-align: justify;
    background-color: tomato;
    width: 500px;
    position: relative;
    left:33.3%;
    padding:20px;
    border:2px solid white;

    

}

#bold {

    font-weight: bold;
    color: aqua;
}

#pageheading {

    font-family: 'Lavishly Yours', cursive;
    font-size: 50px;

}