.navbar {

    background-color: tomato;
    height: 50px;
    position: sticky;
    top: 0;
    z-index: 1;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.navbar ul li {

    display: inline-block;
    line-height: 25px;
    list-style: none;
    color:white;


}

.header {

    background-color: skyblue;
    text-align: center;
    padding: 10px;
    height: 100px;

}

a{

    color:white;

}